<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- >>>>>>>> Common Parameters <<<<<<<<<-->
    <add key="Browser" value="chrome" />
    <add key="ImplicitWait" value="300" />
    <add key="PageLoad" value="60" />
    <add key="ScreenTimeOut" value="60" />
    <add key="BrowserLoad" value="180" />
    <!--<add key="ScreenBusy" value="(//div[@class='modal-backdrop fade in']/div/child::* | //div[@role='progressbar']/*/child::*[1])[1]" />-->    
    <!--<add key="SiteUrl" value="https://qat.companionconnect.com/login" />-->   
    <add key="ScreenBusy" value="//div[@class='cssload-olympicloader']/i[1]" />
    <add key="Highlight" value="true" />    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>